#
# Q-GCM configuration macro v1.5.0
# ================================

# This configuration file specifies those model options
# set via the preprocessor, and should be provided
# to the Makefile by linking it to make.config

# Set model preprocessor options:
# -------------------------------
#ATOPT = -Datmos_only
OCOPT = -Docean_only
#AROPT = -Dget_areav
#CVOPT = -Dget_covar
NCOPT = -Duse_netcdf
#CYCLIC = -Dcyclic_ocean
HFLUX = -Dsb_hflux
#HFLUX = -Dnb_hflux
#TAUDIF = -Dtau_udiff
QOCDIAG = -Dqoc_diag
# ATOPT:  option to run in atmosphere-only mode
# OCOPT:  option to run in ocean-only mode
# AROPT:  option to accumulate area averages as program runs
# CVOPT:  option to accumulate covariance statistics as program runs
# NCOPT:  option to enable netCDF input/output
# CYCLIC: ocean is cyclic in x (otherwise a finite, centred box)
# HFLUX:  ocean m.l. has artificial heat flux applied by modified
#         zonal b.c. (only allowed at one of N & S boundaries at most)
#         It should only be applied (if at all) on the equatorward
#         zonal boundary, this is enforced by checking for consistency
#         with the sign of fnot, set in parameters_data.F)
# TAUDIF: stress depends on velocity difference, not just on atmospheric velocity
#         i.e. turning this on activates the Duhaut & Straub windstress formulation
# QOCDIAG: optional ocean vorticity diagnostics module is activated
## WARNINGS - Don't use ocean_only and atmos_only together
##          - Don't use sb_hflux and nb_hflux together
QGOPTS = ${ATOPT} ${OCOPT} ${AROPT} ${CVOPT} ${NCOPT} ${CYCLIC} ${HFLUX} ${TAUDIF} ${QOCDIAG}

